h1 {
  color: #e3e4eb;
  background-color: #561385;
  border: 1px solid black;
  text-align: center;
  padding: 25px;
}

body {
	background-color:#e3e4eb;
}

.nav{
	border:1px solid #ccc;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align:center;
	background-color: #333;
}

.nav li{
	display:inline;
}



.nav a:hover {
    background-color: #111;
}
.nav a {  
    display:inline-block;
    padding: 25px;
    color: white;
   	border-right:1px solid #ccc;

}